<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.himoo.ydsc"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 芒果广告权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 权限 -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 获取手机录音机使用权限，听写、识别、语义理解需要用到此权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:name="com.himoo.ydsc.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.himoo.ydsc.activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.himoo.ydsc.activity.HomeActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|navigation"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators"
            android:windowSoftInputMode="stateVisible|adjustPan|adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name="com.himoo.ydsc.activity.SearchResultActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.himoo.ydsc.activity.more.FeedBackActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.himoo.ydsc.activity.more.PasswordLockActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.himoo.ydsc.activity.more.ReadstatisticsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.himoo.ydsc.activity.more.ThemeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.himoo.ydsc.activity.more.UpdateSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.himoo.ydsc.activity.more.WallActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.himoo.ydsc.activity.BookMarkActivity"
            android:screenOrientation="portrait"
            android:theme="@style/StyledIndicators" >
        </activity>
        <activity
            android:name="com.himoo.ydsc.activity.BaiduDetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.himoo.ydsc.activity.more.FeedBackThemeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.himoo.ydsc.activity.more.PasswordSettingActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.himoo.ydsc.activity.BookDialogActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BookDetailsStyle" >
        </activity>
        <activity
            android:name="com.himoo.ydsc.activity.DoubanBookActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.himoo.ydsc.activity.DoubanCommentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.himoo.ydsc.activity.DoubanWebActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.himoo.ydsc.activity.BookQueryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.himoo.ydsc.activity.BookReaderActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.himoo.ydsc.reader.ReaderActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.himoo.ydsc.excption.CrashActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.himoo.ydsc.download.BookDownloadService" >
            <intent-filter>
                <action android:name="book.download.service.action" />
            </intent-filter>
        </service>
        <service android:name="com.himoo.ydsc.update.BookUpdateService" >
            <intent-filter>
                <action android:name="com.himoo.ydsc.update.BookUpdateService" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.himoo.ydsc.update.BootBroadcastReceiver"
            android:exported="false" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- 友盟分享相关注册 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56415050e0f55a042200000c" />

        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" />

        <!-- 腾讯SSO授权的Activity注册 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 微信回调activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- p=================芒果广告注册==========================P -->


        <!-- 声明Mogo的Activity -->
        <activity
            android:name="com.adsmogo.adview.AdsMogoWebView"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent" >
        </activity>
        <!-- 注册Service，应用下载所需 -->
        <service
            android:name="com.adsmogo.controller.service.UpdateService"
            android:exported="true"
            android:process=":remote" />
        <!-- 注册Service，应用被安装所用 -->
        <service
            android:name="com.adsmogo.controller.service.CountService"
            android:exported="true"
            android:process=":remote" />
        <!-- 声明芒果视频广告activity,视频广告时需要添加 -->
        <activity
            android:name="com.adsmogo.interstitial.video.AdsMogoVideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="landscape" />

        <!-- 添加下载服务 -->
        <service
            android:name="com.unionsy.sdk.SsjjAdService"
            android:exported="false" />

        <!-- 万普积分墙 v2.0.7 (开始) -->
        <activity
            android:name="cn.waps.extend.AppWall"
            android:configChanges="keyboardHidden|orientation" />
        <!-- 万普积分墙 v2.0.7 (结束) -->

    </application>

</manifest>